.image-with-text {
  display: flex;
  align-items: center;
  justify-content: center;
}

.vertical-text {
  writing-mode: vertical-lr; /* 从左到右竖排文字 */
  text-align: center;
  padding: 10px;
}

.container {
  width: 80%; /* 设置容器的宽度 */
  margin: 0 auto; /* 将左右外边距设置为auto */
}
